// * Colors
$gray-color:#666666;
$black-color: #222222;
$blue-color:#0278ED;
$orange-color:#FF5437;
$yellow-color:#FF9209;
$pink-color:#E738CE;
$light-blue-color:#00C6DF;
$purple-color:#B25DF8;
$white-color:#F2F2F2;
$white-color-2:#E5E5E5;



// * Box shadows
$gray-box-shadow:0px 3px 15px rgba(0, 0, 0, 0.15);
$gray-box-shadow-2: 0px 3px 15px rgba(0, 0, 0, 0.2);
