  .button {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 12px 25px;
      border-radius: 4px;
      background-color: $black-color;
      color: #fff;
      transition: .3s ease;

      &:hover {
          background-color: $gray-color;
      }

      &:active {
          background-color: #000;
      }

      @include responsive(xxs) {
          padding: 12px 24px;
      }
  }