.bg--blue {
    background-color: $blue-color !important;
    transition: .3s ease;
    &:hover{
        opacity: .7;
    }
}

.bg--orange {
    background-color: $orange-color !important;
    transition: .3s ease;
    &:hover{
        opacity: .7;
    }
}

.bg--yellow {
    background-color: $yellow-color !important;
    transition: .3s ease;
    &:hover{
        opacity: .7;
    }
}